<div class="course-card">
  <a href="/course/{{id}}">
    <img src="{{thumbnail}}" alt="{{title}}" class="thumbnail" />
    <div class="course-info">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <span class="price">{{price}}</span>
    </div>
  </a>
</div>
